footer {
  background: #232323;
  padding: 2rem 0;
  margin-top: 3rem;
  p {
    img {
      width: 1.2rem;
      margin-right: 2px;
    }
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
